*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

body {
  display: grid;
  grid-template-areas:
    "principal"
    "musica"
    "piepagina";
  grid-template-columns: 1fr;
  grid-template-rows: 140px 1fr 70px;
  min-height: 100vh;
background-color: black;
 
}

.principal {
  display: flex;
  background-color: black;
  justify-content: center;
  grid-area: principal;

}

.logo {
  width: 300px;
  border-radius: 100px;
}

.piepagina {
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 20px;
  grid-area: piepagina;
  padding-top: 10px;
}

.musica {
  text-align: center;
  grid-area: musica;

  padding: 10px;
}

.boton {
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: black;
  border: 2px solid rgb(26, 170, 26);
  color: rgb(26, 170, 26);
  border-radius: 10px;
  padding: 1px;
  margin: 1px;
  font-size: 15px;
  height: 25px;
  width: 80px;
  margin-top: 20px;
}


@media screen and (min-width: 576px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 280px 1fr 70px;
  }


  .logo {
    width: 700px;
    
  }
iframe {
  width: 700px;
  height: 400px;

}

}

@media screen and (min-width: 768px){

  body {

      display: grid;
  grid-template-areas:
    "principal "
    "musica"
    "piepagina ";
  grid-template-columns:1fr;
  grid-template-rows: 300px 1fr 70px;
   
  }


  .logo {
    width: 700px;
  }
}