* {
  margin: 0;

  padding: 0;

  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-areas:
    "principal"
    "videos"
    "piepagina";
  grid-template-columns: 1fr;
  grid-template-rows: 120px 1fr 70px;
  min-height: 100vh;
  background-image: url(../img/espacio.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.principal {
  display: flex;
  background-color: black;
  justify-content: center;
  grid-area: principal;

}

.logo {
  width: 300px;
  border-radius: 100px;
}

.piepagina {
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 20px;
  grid-area: piepagina;
  padding-top: 10px;
}

.videos {
  text-align: center;
  grid-area: videos;

  padding: 10px;
}

.video {
  margin-top: 15px;
  margin-bottom: 15px;
  justify-content: space-around;

}

.boton {
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: black;
  border: 2px solid white;
  color: white;
  border-radius: 10px;
  padding: 1px;
  margin: 1px;
  font-size: 15px;
  height: 25px;
  width: 80px;
  margin-top: 20px;
}

@media screen and (min-width: 576px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 270px 1fr 70px;
  }
  .video {
    width: 560px;
    height: 315px;
  }
  .videos {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .logo {
    width: 700px;
  }
}
